<!-- Portrait Overlay Component -->
<div id="cs-portrait-overlay" class="cs-portrait" data-state="hidden">
  <div class="cs-portrait__panel">
    <div class="cs-portrait__image-area" id="cs-portrait-img-area">
      <img id="cs-portrait-img" src="" alt="" class="cs-portrait__img" />
      <div class="cs-portrait__placeholder">
        <span class="cs-portrait__placeholder-icon">◈</span>
      </div>
    </div>
    <div class="cs-portrait__meta">
      <div class="cs-portrait__name" id="cs-portrait-name"></div>
      <div class="cs-portrait__mood-badge" id="cs-portrait-mood"></div>
    </div>
  </div>
</div>